{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Bolsas ecológicas publicitarias{%endblock%}

{%block description%}olsas ecológicas confeccionados en fiselina 40x45cm estampadas con tintas al agua con el logo de tu empresa, marca o negocio.{%endblock%}

{%block keywords%}bolsas ecologicas en cordoba, estampado de bolsas ecologicas, bolsas ecologicas para empresas, bolsas estampadas, bolsas ecologicas por mayor, bolsas serigrafiadas{%endblock%}

{%block ogTitle%}{{parent()}}Bolsas ecológicas publicitarias{%endblock%}
{%block ogDescription%}Bolsas ecológicas confeccionados en fiselina 40x45cm estampadas con tintas al agua con el logo de tu empresa, marca o negocio.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/bag/bag.jpg')}}{%endblock%}

{%block blockleft%}
<h1>BOLSAS ECOLÓGICAS</h1>
<p>
  <strong>Bolsas ecológicas</strong> confeccionados en friselina estampadas con tintas al agua con el logo de tu empresa, marca o negocio. Todos los colores.
</p>
<p>
  Las <strong>bolsas de friselina</strong> son la mejor opción para hacer publicidad de una forma económica y muy práctica dado que las mismas se pueden realizar desde 50 unidades. Puede solicitar sus bolsas ecológicas de friselina con o sin estampado.
</p>
<p>
  En Digal trabajamos bolsas con medias estandar pero también puede solicitar una medida o formato especial que se adapte al tamaño de sus productos.
</p>
<p>
   Proveemos distintos productos estampados en Córdoba y para todo el país a través de envíos por transporte a elección. De esta manera, vivas dónde vivas en Argentina, podrás tener nuestras remeras estampadas.
</p>
<p>
    Para solicitar presupuesto llena el <a href="{{path('web_contact')}}" title="Contacto">formulario de contacto</a> y te contestamos en el dia!
</p>
<img src="{{asset ('bundles/digal/images/services/bag/bag.jpg')}}" alt="bolsa ecologica publicitaria digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/bag/bags_colors.png')}}" alt="colores disponibles">
{%endblock%}