{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Fundas publicitarios{%endblock%}

{%block description%}Ofrecemos diseños innovadores, flexibles y con creatividad para campañas publicitarias, lanzamientos de nuevos productos y posicionamientos.{%endblock%}

{%block keywords%}funda para notebook estampadas, fundas sublimadas cordoba, articulos publicitarios en cordoba, funda para tablet, funda para celuares, fundas por mayor estampadas, fundas personalizadas{%endblock%}

{%block ogTitle%}{{parent()}}Fundas publicitarias{%endblock%}
{%block ogDescription%}Ofrecemos diseños innovadores, flexibles y con creatividad para campañas publicitarias, lanzamientos de nuevos productos y posicionamientos.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/covers/covers.jpg')}}{%endblock%}

{%block blockleft%}
<h1>FUNDAS  PUBLICITARIOS</h1>
<p>
       Es un medio inusual , divertido y efectivo para las sociedades y empresas que quieren promocionar sus ideas y marcas con un alto nivel de visibilidad y de recordación. <br>
       Ofrecemos diseños innovadores, flexibles y con creatividad para campañas publicitarias, lanzamientos de nuevos productos y posicionamientos.
</p>
<img src="{{asset ('bundles/digal/images/services/covers/covers.jpg')}}" alt="funda publicitaria digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/covers/covers_colors.png')}}" alt="colores disponibles">
{%endblock%}