{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Almohadones publicitarios{%endblock%}

{%block description%}Confecciona almohadones, almohadas y una gran variedad de artículos publicitarios. Con una gran variedad de telas, colores, rellenos y excelentes precios.{%endblock%}

{%block keywords%}almohadones publicitarios, almohadones estampados, almohadones sublimados, cordoba, almohadones personalizados, almohadones para empresas, productos para campañas publicitarias{%endblock%}

{%block ogTitle%}{{parent()}}Almohadones Publicitarios{%endblock%}
{%block ogDescription%}Confecciona almohadones, almohadas y una gran variedad de artículos publicitarios. Con una gran variedad de telas, colores, rellenos y excelentes precios.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/cushion/cushion.jpg')}}{%endblock%}

{%block blockleft%}
<h1>ALMOHADONES  PUBLICITARIOS</h1>
<p>
       Confecciona almohadones, almohadas y una gran variedad de artículos publicitarios. Con una gran variedad de telas, colores, rellenos y excelentes precios. <br>
       Ofrecemos diseños innovadores, flexibles y con creatividad para campañas publicitarias, lanzamientos de nuevos productos y posicionamientos.
</p>
<img src="{{asset ('bundles/digal/images/services/cushion/cushion.jpg')}}" alt="almohadon publicitario digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/cushion/cushion_colors.png')}}" alt="colores disponibles">
{%endblock%}