{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Llaveros colgantes estampados{%endblock%}

{%block description%}Los llaveros cinta publicitarios estilo colgante pueden ser estampados a un color a través de serigrafía o sublimadas full color con tu logo, teléfono o dirección.{%endblock%}

{%block keywords%}llavero cinta, llavero portacredencial, llavero colgante, llaveros para eventos, productos para eventos, llavero sublimado, llavero cinta, mosqueton, cintas para eventos, colgantes cinta{%endblock%}

{%block ogTitle%}{{parent()}}Llavero cinta portacredencial estampado{%endblock%}
{%block ogDescription%}Los llaveros cinta publicitarios estilo colgante pueden ser estampados a un color a través de serigrafía o sublimadas full color con tu logo, teléfono o dirección.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/keychains/keychain_ribbon.jpg')}}{%endblock%}

{%block blockleft%}
<h1>LLAVEROS COLGANTES ESTAMPADOS</h1>
<p>
  Los <strong>llaveros colgantes publicitarios</strong> o también llamado <strong>llavero cinta</strong> pueden ser estampados a un color a través de serigrafía sobre cinta gross de cualquier color o sublimadas full color con tu logo, teléfono o dirección sobre cinta gross blanca 100% poliester. <br>
</p>
<p>
  Los <strong>llaveros colgantes</strong> o <strong>llavero cinta</strong> son muy utilizadas como llaveros, porta credenciales en eventos o congresos, para celulares, pendrives, I-Pod o camaras digitales. Sea cual fuera su uso es un articulo publicitarios o de promoción donde su logo o publicidad siempre esta a la vista de todos.
</p>
<p>
   En Digal proveemos distintos productos publicitarios Córdoba y para todo el país a través de envíos por transporte a elección. De esta manera, vivas dónde vivas en Argentina, podrás tener nuestros <strong>llaveros colgantes</strong>
</p>
<p>
    Para solicitar presupuesto llena el <a href="{{path('web_contact')}}" title="Contacto">formulario de contacto</a> y te contestamos en el dia!
</p>
<img src="{{asset ('bundles/digal/images/services/keychains/keychain_ribbon.jpg')}}" alt="llavero cinta estampado digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/keychains/keychain_colors.png')}}" alt="colores disponibles">
{%endblock%}