{%extends "WebBundle:Templates:template.html.twig"%}

{%block title%}{{parent()}} | Nuestros Servicios | Artículos Publicitarios | Diseño web{%endblock%}

{%block description%}Contamos con una gran cantidad de servicios para que tu empresa se haga conocida! Artículos publicitarios, diseño web, social media y mas! Contactate!{%endblock%}

{%block keywords%}diseño web, social media, articulos publicitarios, articulos para eventos, publicidad, diseño de logos, diseño de paginas web, diswño web cordoba, serigrafia, sublimacion, plotter, rotulados{%endblock%}

{%block ogTitle%}{{parent()}}Nuestros Servicios{%endblock%}
{%block ogDescription%}Contamos con una gran cantidad de servicios para que tu empresa se haga conocida! Artículos publicitarios, diseño web, social media y mas! Contactate!{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/tshirts/tshirt.jpg')}}{%endblock%}

{%block stylesheets%}
	{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/our_services.css')}}">
{%endblock%}

{%block content%} 
    <!-- ourServices -->
    <div id="contentOurServices">
        <h1>NUESTROS SERVICIOS</h1>
        <h2>Artículos Publicitarios</h2>
        <h3>¿Queres que todos conozcan tu marca?</h3>
         <p>	
                ¿Alguna vez te preguntaste por que las grandes marcas invierten tanto en merchandising; regalos empresariales y publicitarios?. La respuesta es sencilla, cada presente es un cliente potencial y una inversion que promueve que el nombre de tu marca se haga conocida y adisiona un valor agregado a tus productos.
                Descubre nuestros productos:
        </p>
        <div id="articles">
            <div class="buttonService"><a href="{{ path('web_our_services_tshirt') }}">REMERAS ESTAMPADAS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_keychain_ribbon') }}">LLAVEROS CINTA</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_keychain_poli') }}">LLAVERO POLIMERO</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_cushion') }}">ALMOHADONES ESTAMPADOS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_cover') }}">FUNDAS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_bag') }}">BOLSAS ECOLÓGICAS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_sweatshirt') }}">BUZOS ESTAMPADOS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_dome') }}">DOMES</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_sticker') }}">STICKERS</a></div>
            <div class="buttonService"><a href="{{ path('web_our_services_pad') }}">MOUSE PADS</a></div>
        </div>
         <div class="divider-small-border"></div>
        <h2>Diseño web</h2>
        <h3>¿Tus clientes ya saben lo que ofreces?</h3>
        <p>	
            Desarrollamos web sites y portales con estrategias SEO concretadas y diseñadas antes de su construcción. Diseñamos el interface más adecuado a la proyección de imagen que necesites y programamos su arquitectura interna de modo práctico. Si ya tenes una página y quieres sacarle el máximo partido, la re-adaptamos a los parámetros SEO. Hacemos páginas web distintivas, funcionales y enfocadas a los objetivos por los cuales se ha llevado a cabo.
        </p>
    </div>
{%endblock%}

{%block scripts%}
	{{parent()}}
{%endblock%}