{%extends "WebBundle:Templates:template.html.twig"%}

{%block title%}{{parent()}}Nuestros Servicios {%endblock%}

{%block description%}

{%endblock%}

{%block keywords%}remeras estampadas,banners,ploteados,llaveros publicitarios,llaveros cinta, buzos estampados,camperas estampadas,calcos publicitarias,domes,diseño web cordoba,marketing,publicidad cordoba{%endblock%}

{%block stylesheets%}
	{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/our_services.css')}}">
{%endblock%}

{%block content%} 
<!-- ourServices -->
<div id="contentOurServices">
    <h1>NUESTROS SERVICIOS</h1>

    <h2>Artículos Publicitarios</h2>
    <h3>¿Queres que todos conozcan tu marca?</h3>
    <p>	
        ¿Alguna vez te preguntaste por que las grandes marcas invierten tanto en merchandising; regalos empresariales y publicitarios?. La respuesta es sencilla, cada presente es un cliente potencial y una inversion que promueve que el nombre de tu marca se haga conocida y adisiona un valor agregado a tus productos.
    <u>Descubre nuestros productos:</u>
</p>
<div id="articles">
    <div class="buttonService"><a href="{{ path('web_our_services_tshirt') }}">REMERAS ESTAMPADAS</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_keychain_ribbon') }}">LLAVEROS CINTA</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_keychain_poli') }}">LLAVERO POLIMERO</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_cushion') }}">ALMOHADONES ESTAMPADOS</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_cover') }}">FUNDAS</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_bag') }}">BOLSAS ECOLÓGICAS</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_sweatshirt') }}">BUZOS ESTAMPADOS</a></div>
    <div class="buttonService"><a href="{{ path('web_our_services_dome') }}">DOMES</a></div>
    <div class="buttonService"><a href="">STICKERS</a></div>
    <div class="buttonService"><a href="">PAD MOUSE</a></div>
</div>
<div class="divider-small-border"></div>
<h2>Diseño web</h2>
<h3>¿Tus clientes ya saben lo que ofreces?</h3>
<p>	
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<div class="divider-small-border"></div>
<h2>Diseño Gráfico</h2>
<h3>¿Tus clientes ya saben lo que ofreces?</h3>
<p>	
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
</div>
{%endblock%}

{%block scripts%}
	{{parent()}}
{%endblock%}