{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%} {{parent()}} | Buzos estampados publicitarios{%endblock%}

{%block description%}Buzos friza con cuello redondo estampados con tintas plastisol de la mejor calidad. Ideal en invierno para eventos, comercios, empresas, campañas publicitarias, etc.{%endblock%}

{%block keywords%}buzos estampados, buzos por mayor, buzos serigrafiados, serigrafia por mayor, estamperia, estampado de prendas cordoba, sublimados, plastisol, tinta al agua, buzos publicitarios{%endblock%}

{%block ogTitle%}{{parent()}}Buzos estampados publicitarios{%endblock%}
{%block ogDescription%}Buzos friza con cuello redondo estampados con tintas plastisol de la mejor calidad. Ideal en invierno para eventos, comercios, empresas, campañas publicitarias, etc.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/sweatshirt/sweatshirt.jpg')}}{%endblock%}

{%block blockleft%}
<h1>BUZOS ESTAMPADOS</h1>
<p>
    Buzos friza con cuello redondo estampados con tintas plastisol de la mejor calidad. Ideal en invierno para eventos, comercios, empresas, campañas publicitarias, etc.
</p>
<img src="{{asset ('bundles/digal/images/services/sweatshirt/sweatshirt.jpg')}}" alt="buzo estampado digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/sweatshirt/sweatshirts_colors.png')}}" alt="colores disponibles">
{%endblock%}
{%block subblock2%}
<h2>Talles disponibles</h2>
<p>S – M – L – XL – XXL</p>
{%endblock%}