{%extends "WebBundle:Templates:template_services.html.twig"%}


{%block title%}{{parent()}} | Remeras estampadas publicitarias{%endblock%}

{%block description%}Remeras estampadas en serigrafía (tintas al agua o plastisol) o sublimadas, también contamos dos calidades; económica y peinada (en algodón) y en modal blanco para sublimación. El estampado es de máximo 4 colores en serigrafía y full color sublimadas.{%endblock%}

{%block keywords%}remeras estampados, remeras por mayor, remeras serigrafiados, serigrafia por mayor, estamperia, estampado de prendas cordoba, sublimados, remeras publicitarias, chombas estampadas{%endblock%}

{%block ogTitle%}{{parent()}}Remeras estampadas publicitarias{%endblock%}
{%block ogDescription%}Remeras estampadas en serigrafía (tintas al agua o plastisol) o sublimadas, también contamos dos calidades; económica y peinada (en algodón) y en modal blanco para sublimación. El estampado es de máximo 4 colores en serigrafía y full color sublimadas.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/services/tshirts/tshirt.jpg')}}{%endblock%}

{%block blockleft%}
<h1>Remeras estampadas (clásica)</h1>
<p>
    <strong>Remeras estampadas en serigrafía</strong> con tintas al agua o plastisoles sobre remeras de algodón, contamos con dos calidades; remeras estampadas económicas y remeras estampadas peinadas. También realizamos <strong>remeras sublimadas</strong> que permite que tengas diseños full color en tus remeras clásicas para hombre, mujeres y niños sobre telas 100% poliéster y <strong>remeras estampadas con vinilo termoadhesivos</strong>.
</p>
<p>
    Estampamos todo tipo de logos, dibujos, fotografías, etc.
    Las remeras estampadas son ideal para campañas publicitarias y merchandising. Excelente durabilidad y resistencia a los lavados.
</p>
<p>
   En Digal proveemos distintos productos estampados y sublimados en Córdoba y para todo el país a través de envíos por transporte a elección. De esta manera, vivas dónde vivas en Argentina, podrás tener nuestras remeras estampadas.
</p>
<p>
    Para solicitar presupuesto llena el <a href="{{path('web_contact')}}" title="Contacto">formulario de contacto</a> y te contestamos en el dia!
</p>
<img src="{{asset ('bundles/digal/images/services/tshirts/tshirt.jpg')}}" alt="remeras estampadas digal">
{%endblock%}

{%block subblock1%}
<h2>Colores disponibles</h2>
<img src="{{asset ('bundles/digal/images/services/tshirts/tshirts_colors.png')}}" alt="colores disponibles">
{%endblock%}
{%block subblock2%}
<h2>Talles disponibles</h2>
<p>
    2 – 4 – 6 – 8 – 10 – 12<br>
    14 – 16 – XS – S – M – L – XL – XXL
</p>
{%endblock%}





