<!DOCTYPE html>
<html lang="en">
    <head>
        <!--====== meta tags ======-->
        <meta charset="utf-8">
        <title>Digal - Servicios Publicitarios</title>
        <meta name="keywords" content="articulos publicitarios cordoba, diseño web cordoba, regalos empresariales, branding cordoba, diseño grafico para empresas, publicidad para empresas, estampados cordoba, sublimados cordoba, ploteados cordoba, vidrieras"/> 
        <meta name="description" content="Somos una estudio de diseño integral dedicado al diseño web, diseño grafico y  a la producción de artículos publicitarios en serigrafia, sublimación, rotulación, madera, etc "/>
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <!--====== stylesheets ======-->
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/style.css')}}">
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/camera.css')}}">
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/form.css')}}">
        <!--====== googleFonts ======-->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
        <!--====== scripts ======-->
        <script src="{{asset ('bundles/digal/js/jquery.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/jquery-migrate-1.1.1.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/superfish.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/forms.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/jquery.ui.totop.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/jquery.equalheights.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/jquery.easing.1.3.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/jquery.ui.totop.js')}}"></script>
        <script src="{{asset ('bundles/digal/js/tms-0.4.1.js')}}"></script>
        <script>
            $(document).ready(function(){
                $('.slider_wrapper')._TMS({
                        show:0,
                        pauseOnHover:false,
                        prevBu:'.prev',
                        nextBu:'.next',
                        playBu:false,
                        duration:800,
                        preset:'fade',
                        pagination:true,//'.pagination',true,'<ul></ul>'
                        pagNums:false,
                        slideshow:8000,
                        numStatus:false,
                        banners: 'fade',
                        waitBannerAnimation:false,
                        progressBar:false
                });
            });
            $(document).ready(function(){   
                !function(){
                    var map=[]
                    ,names=[]
                    ,win=$(window)
                    ,header=$('header')
                    ,currClass
                    $('.content').each(function(n){
                    map[n]=this.offsetTop
                    names[n]=$(this).attr('id')
                    })
                    win
                    .on('scroll',function(){
                        var i=0
                        while(map[i++]<=win.scrollTop());
                        if(currClass!==names[i-2])
                        currClass=names[i-2]
                        header.removeAttr("class").addClass(names[i-2])
                    })
                }(); 
            });
            function goToByScroll(id){
                $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
            }
            $(document).ready(function(){
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <!--[if lt IE 8]>
            <div style=' clear: both; text-align:center; position: relative;'>
                <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
                        <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
                </a>
            </div>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <link rel="stylesheet" media="screen" href="css/ie.css">
        <![endif]-->
        
        <script type="text/javascript">
        var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-48718020-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        </head>
        <body>
            <!--============================== header =================================-->
            <header class="page1">
                <div class="container_12">
                    <div class="grid_12">
                        <h1>
                            <a href="#" onClick="goToByScroll('page1'); return false;">
                                <img src="{{asset ('bundles/digal/images/logo.png')}}" alt="digal logo">
                            </a>
                        </h1>
                        <div class="menu_block">
                            <nav class="">
                                <ul class="sf-menu">
                                    <li class="current men"><a onClick="goToByScroll('page1'); return false;" href="#">HOME</a> <strong class="hover"></strong></li>
                                    <li class="men1"><a onClick="goToByScroll('page2'); return false;" href="#">NOSOTROS</a><strong class="hover"></strong></li>
                                    <li class=" men2"><a onClick="goToByScroll('page3'); return false;" href="#">SERVICIOS</a> <strong class="hover"></strong></li>
                                    <li class=" men3"><a onClick="goToByScroll('page4'); return false;" href="#">CLIENTES</a> <strong class="hover"></strong></li>
                                    <li class=" men4"><a onClick="goToByScroll('page5'); return false;" href="#">TRABAJOS</a> <strong class="hover"></strong></li>
                                    <li class=" men5"><a onClick="goToByScroll('page6'); return false;" href="#">CONTACTO</a> <strong class="hover"></strong></li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </header>
            <!--=======content================================-->
            <div id="page1" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slider_wrapper">
                            <ul class="items">
                                <li>
                                    <img src="{{asset ('bundles/digal/images/spacer.gif')}}" alt="">
                                    <div class="caption banner">
                                        <h2>TRANSFORMAREMOS TUS IDEAS EN PRODUCTOS REALES!</h2>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{asset ('bundles/digal/images/spacer.gif')}}" alt="">
                                    <div class="caption banner">
                                        <h2>POTENCIAMOS EL ALCANCE DE TU MARCA!</h2>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{asset ('bundles/digal/images/spacer.gif')}}" alt="">
                                    <div class="caption banner">
                                        <h2>ATRAEREMOS LA ATENCIÓN DE MÁS CLIENTES</h2>
                                    </div>
                                </li> 
                            </ul>
                        </div>
                        <div class="socials">
                            <a href=""></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page2" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slogan">
                            <h3>CONOCENOS MEJOR!</h3>
                            <div class="text1">
                                <p>
                                    Comenzamos a fines del 2012 con la idea ofrecer distintos servicios
                                    publicitarios a empresas Cordobesas, hoy en día tenemos una amplia cartera 
                                    de clientes de todo el país con una importante misión; <strong>hacerlos felices</strong>.
                                </p>
                                <p>
                                    Para ello, brindamos un servicio de asesoramiento permanente sin cargo sobre "ideas originales" de acuerdo a cada promoción o evento, así como el desarrollo de productos exclusivos bajo pedido.
                                </p>
                                <p>
                                    Te invitamos a ver algo de lo que hacemos...
                                </p>
                            </div>

                            <iframe src="//player.vimeo.com/video/47077586" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
                        </div>
                    </div> 
                </div>
            </div>
            <div id="page3" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slogan">
                            <h3>SERVICIOS</h3>
                            <div class="text1">
                                Contamos una gran cantidad de productos y servicios publicitarios para que tu empresa
                                o negocio pueda atraer a nuevos clientes de forma economica y efectiva. Conoce nuestras opciones
                                y elige la que mas se adapte a tus necesidades.
                            </div>
                        </div>
                    </div>
                    <div class="grid_4">                        
                        <img src="{{asset ('bundles/digal/images/icon-ap.png')}}" alt="">
                        <h4>Artículos Publicitarios</h4>
                        Artículos promocionales, llaveros, tickets, domes, remeras, buzos
                        pads, lapiceras, bolsas ecológicas, almohadones y mucho mas.                        
                    </div>
                    <div class="grid_4">                        
                        <img src="{{asset ('bundles/digal/images/icon-dw.png')}}" alt="">
                        <h4>Diseño Web</h4>
                        Diseño y desarrollos web, sistemas de autogestión, tiendas online y web responsive que se adapta a todo tipo de dispositivos.                        
                    </div>
                    <div class="grid_4">                        
                        <img src="{{asset ('bundles/digal/images/icon-dg.png')}}" alt="">
                        <h4>Diseño Grafico</h4>
                        Diseño de Identidad, diseño editorial, folletería, logos, carpetas, imanes, packaging, banners y diseño para redes sociales.                        
                    </div>
                </div>
            </div>
            <div id="page4" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slogan">
                            <h3>NUESTROS CLIENTES</h3>
                            <div class="text1">
                                Creemos que el éxito en estas relaciones reflejan los servicios innovadores y nuestra capacidad de impactar positivamente en los negocios de nuestros clientes.
                            </div>
                        </div>
                    </div>
                    <div class="companies">
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/batistella.png')}}" alt="batistella">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/startupweekendcordoba.png')}}" alt="startup weekend cordoba">
                        </div>                        
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/wheellock.png')}}" alt="wheellock">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/weg.png')}}" alt="weg">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/allus_bpo_center.png')}}" alt="allus bpo center">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/holiday_inn.png')}}" alt="holiday inn">  
                        </div>          
                        <div class="clear"></div>                        
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/ibm.png')}}" alt="instituto biblico mediterraneo cordoba">
                        </div>  
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/tengo_raiz.png')}}" alt="tengo raiz">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/petreiza.png')}}" alt="petreiza combustibles">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/comsys.png')}}" alt="comsys">
                        </div>
                        <div class="grid_2">
                            <img src="{{asset ('bundles/digal/images/supralife.png')}}" alt="cima supralife ecuador">
                        </div>                
                        </div>
                    </div>
                </div>
            </div> 
            <div id="page5" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slogan">
                            <h3>TRABAJOS REALIZADOS</h3>
                            <div class="text1">
                                Podrás observar algunos de nuestros trabajos realizados.
                            </div>         
                            <div class="wrapper-work">                                   
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-1.jpg')}}" alt="plan b">
                                </div>
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-2.jpg')}}" alt="moreno y asociados">
                                </div>
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-3.jpg')}}" alt="dropmovi">
                                </div>        
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-4.jpg')}}" alt="diseño web">
                                </div>
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-5.jpg')}}" alt="diseño web">
                                </div>   
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-6.jpg')}}" alt="agilecode">
                                </div>
                                <div class="bw pic">
                                    <img src="{{asset ('bundles/digal/images/wk/wk-7.jpg')}}" alt="llaveros estampados allus bpo center">
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>                   
            <div id="page6" class="content">
                <div class="container_12">
                    <div class="grid_12">
                        <div class="slogan">
                            <h3>CONTACTANOS!</h3>
                            <div class="text1">
                                Podrás visitarnos o enviarnos una consulta a través de nuestro formulario web
                                que también te permite enviar el archivo de tu diseño para presupuestarlo!
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="map transp">
                        <div class="grid_3">
                            <div class="text1">¿Donde estamos?</div>
                            <address>
                                <dl>
                                    <dt>Digal<br>
                                    Tunuyán 2287 Barrio Cabildo,<br>
                                    Córdoba, Argentina.
                                    </dt>
                                    <dd><span>Telefono:</span>+54 351 156 067958</dd>
                                    <dd><span>E-mail: </span><a href="#" class="link-1">info@digal.com.ar</a></dd>
                                    <dd><span>Skype: </span><a href="#" class="link-1">@digalcontacto</a></dd>
                                </dl>
                            </address>
                        </div>
                        <div class="grid_3">
                            <div class="text1">&nbsp;</div>
                            <figure class="">
                                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ar/maps?f=q&amp;source=s_q&amp;hl=es-419&amp;geocode=&amp;q=Tunuy%C3%A1n+2287,+C%C3%B3rdoba,+Argentina&amp;aq=t&amp;sll=-31.486851,-64.236127&amp;sspn=0.005279,0.010568&amp;ie=UTF8&amp;hq=&amp;hnear=Tunuy%C3%A1n,+C%C3%B3rdoba&amp;t=m&amp;z=14&amp;ll=-31.486246,-64.234489&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ar/maps?f=q&amp;source=embed&amp;hl=es-419&amp;geocode=&amp;q=Tunuy%C3%A1n+2287,+C%C3%B3rdoba,+Argentina&amp;aq=t&amp;sll=-31.486851,-64.236127&amp;sspn=0.005279,0.010568&amp;ie=UTF8&amp;hq=&amp;hnear=Tunuy%C3%A1n,+C%C3%B3rdoba&amp;t=m&amp;z=14&amp;ll=-31.486246,-64.234489" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
                            </figure>
                        </div>
                        <div class="grid_5 prefix_1">
                            <div class="text1">Contáctanos</div>
                            <form id="formContact" method="post" action="#">                           
                                <div>
                                    {{ form_errors(form.name)}}
                                    {{ form_widget(form.name , {'attr': {'placeholder': 'Nombre'}} ) }}
                                </div>
                                <div>
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}} ) }}
                                </div>
                                 <div>
                                    {{ form_errors(form.description) }}
                                    {{ form_widget(form.description, {'attr': {'placeholder': 'Consulta'}} ) }}
                                </div>
                                {{ form_widget(form._token) }}
                                <input type="submit" value="Enviar" class="btns"/>
                            </form>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!--==============================footer=================================-->
            <footer>
                <div class="container_12">
                    <div class="grid_12">
                        <div class="copy">
                            &copy; 2012 - 2014 | <a href="#">Digal - Servicios Publicitarios</a> 
                            <br> Website designed by <a href="http://www.digal.com.ar/" rel="nofollow">digal.com.ar</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </footer>
        </body>
    </html>