<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{%block title%}Digal - Servicios Publicitarios::{%endblock%}</title>
        <!-- meta-tags -->
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Style-Type" content="text/css"/>
        <meta name="robots" content="all"/>
        <meta name="googlebot" content="all"/>
        <meta name="generator" content="Netbeans"/>
        <meta name="author" content="Jesús Díaz"/>
        <meta name="date" content="Nov 2, 2012"/>
        <meta name="copyright" content="2014 Digal. Todos los derechos reservados"/>
        <meta name="description" content="{%block description%}{%endblock%}"/>
        <meta name="keywords" content="{%block keywords%}{%endblock%}"/>
        <!-- stylesheets -->
    {%block stylesheets%}
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/resets.css')}}">
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/styles.css')}}">
    {%endblock%}
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
    <body>
        <!-- header -->
        <header>
            <div id="logo">
                <a href="{{ path('web_home') }}">
                    <img src="{{asset ('bundles/digal/images/logo.png')}}" alt="logo digal">
                </a>
            </div>
        </header>
        <!-- navbar -->
        <div id="navbar">
            <ul>
                <li><a href="{{ path('web_home') }}">HOME</a></li>
                <li><a href="{{ path('web_about') }}">NOSOTROS</a></li>
                <li><a href="{{ path('web_our_services') }}">NUESTROS SERVICIOS</a></li>
                <li><a href="">CLIENTES</a></li>
                <li><a href="">PORTFOLIO</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </div>
        {%block content%} {%endblock%}
        <!-- contactForm -->
        <div id="contactForm">
            <div id="blockLeft">
                <h1>HOLA!</h1>
                <p>
                    Necesitas ayuda para publicitar tu marca? <br>
                    podes contar con nosotros! <br>
                    contáctate!
                </p>
            </div>
            <div id="blockCenter">
                <form action="">
                    <input type="text" name="" id="inputName" placeholder="Nombre"><br>
                    <input type="text" name="" id="inputEmail" placeholder="Email"><br>
                    <input type="submit" id="buttonSend" value="Enviar">	
                </form>
            </div>
            <div id="blockRight">
                <textarea id="textConsult" placeholder="Consulta"></textarea>
            </div>
        </div>
        <!-- social -->
        <div id="social">
            <a href="">
                <div id="pinterest">
                    <img src="{{asset ('bundles/digal/images/social/pinterest.png')}}" alt="pinterest"><br>
                    Pinterest <br>
                    <span>Seguinos ></span>
                </div>
            </a>
            <a href="">
                <div id="gplus">
                    <img src="{{asset ('bundles/digal/images/social/gplus.png')}}" alt="google plus"><br>
                    Google + <br>
                    <span>Seguinos ></span>
                </div>
            </a>
            <a href="">
                <div id="facebook">
                    <img src="{{asset ('bundles/digal/images/social/facebook.png')}}" alt="facebook"><br>
                    Facebook <br>
                    <span>Seguinos ></span>
                </div>
            </a>
            <a href="http://www.twitter.com/digalArg" target="blank">
                <div id="twitter">
                    <img src="{{asset ('bundles/digal/images/social/twitter.png')}}" alt="twitter"><br>
                    Twitter <br>
                    <span>Seguinos ></span>
                </div>
            </a>
            <a href="">
                <div id="linkedin">
                    <img src="{{asset ('bundles/digal/images/social/linkedin.png')}}" alt="linkedin"><br>
                    Linkedin <br>
                    <span>Seguinos ></span>
                </div>
            </a>
        </div>
        <!-- footer -->
        <footer>
            <div id="copyR">
                <a href="{{ path('web_home') }}">
                <img src="{{asset ('bundles/digal/images/logo.png')}}" alt="logo digal"> <br>
                </a>
                © 2014 Digal. All Rights Reserved
            </div>
            <div id="infContact">
                <h3>Argentina</h3>
                <ul>
                    <li>
                        <img src="{{asset ('bundles/digal/images/contact/loc.gif')}}" alt="direccion" >
                        Tunuyán 2287, Córdoba, X5017EGE.
                    </li>
                    <li>
                        <img src="{{asset ('bundles/digal/images/contact/tel.gif')}}" alt="telefono">
                        +54 351 156 067958
                    </li>
                    <li>
                        <img src="{{asset ('bundles/digal/images/contact/mail.png')}}" alt="mail"> 
                        info@digal.com.ar
                    </li>
                </ul>
            </div>
        </footer>
        <!-- scripts -->
    {%block scripts%}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    {%endblock%}
    </body>
</html>