<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{%block title%}Digal{%endblock%}</title>
    <!-- meta-tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta name="robots" content="all"/>
    <meta name="googlebot" content="all"/>
    <meta name="generator" content="SublimeText"/>
    <meta name="author" content="Jesús Díaz"/>
    <meta name="date" content="Mar 12, 2014"/>
    <meta name="copyright" content="2014 Digal. Todos los derechos reservados"/>
    <meta name="description" content="{%block description%}{%endblock%}"/>
    <meta name="keywords" content="{%block keywords%}{%endblock%}"/>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/ico" href="{{asset ('bundles/digal/images/favicon.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset ('bundles/digal/images/favicon.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset ('bundles/digal/images/favicon.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset ('bundles/digal/images/favicon.png')}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset ('bundles/digal/images/favicon.png')}}" />
    <!-- OpenGraph Meta Tags -->
    <meta name="og:title" content="{%block ogTitle%}Digal{%endblock%}">
    <meta name="og:description" content="{%block ogDescription%}{%endblock%}">
    <meta name="og:image" content="{%block ogImage%}{%endblock%}">
    <meta name="og:site_name" content="Digal - Servicios Publicitarios">
    <meta property="og:locale" content="es_ES">
    <meta name="og:type" content="website">
    <!-- stylesheets -->
    {%block stylesheets%}
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/resets.css')}}">
        <link rel="stylesheet" href="{{asset ('bundles/digal/css/styles.css')}}">
    {%endblock%}
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
    <!-- analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-48718020-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <!-- header -->
    <header>
      <div id="logo">
        <a href="{{path('web_home')}}" title="digal">
          <img src="{{asset ('bundles/digal/images/logo.png')}}" alt="logo digal">
        </a>
      </div>
    </header>
    <!-- navbar -->
    <nav id="navbar">
      <button id="mobile-menu"><img src="{{ asset ('bundles/digal/images/mobile_menu.png') }}" alt="button menu"></button>
      <div id="mobile-logo"><img src="{{asset ('bundles/digal/images/logo.png')}}" alt="logo digal"></div>
      <div id="wrapper-navbar">
        <ul>
          <li><a href="{{path('web_home')}}" title="Home">HOME</a></li>
          <li><a href="{{path('web_about')}}" title="Nosotros">NOSOTROS</a></li>
          <li><a href="{{path('web_our_services')}}" title="Nuestros Servicios">NUESTROS SERVICIOS</a></li>
          <li><a href="{{path('web_clients')}}" title="Clientes">CLIENTES</a></li>
          <li><a href="{{path ('web_portfolio')}}" title="Portfolio">PORTFOLIO</a></li>
          <li><a href="{{path ('web_contact')}}" title="Contacto">CONTACTO</a></li>
        </ul>
      </div>
    </nav>
    {%block content%} {%endblock%}
    <!-- social -->
    <div id="social">
      <a href="" title="Pinterest">
        <div id="pinterest">
          <img src="{{asset ('bundles/digal/images/social/pinterest.png')}}" alt="pinterest"><br>Pinterest<br>
          <span>Seguinos ></span>
        </div>
      </a>
      <a href="https://plus.google.com/+DigalArgentina" target="blank" title="Google Plus">
        <div id="gplus">
          <img src="{{asset ('bundles/digal/images/social/gplus.png')}}" alt="google plus"><br>Google +<br>
          <span>Seguinos ></span>
        </div>
      </a>
      <a href="https://www.facebook.com/digalArg" target="blank" title="Facebook">
        <div id="facebook">
            <img src="{{asset ('bundles/digal/images/social/facebook.png')}}" alt="facebook"><br>Facebook<br>
            <span>Seguinos ></span>
        </div>
      </a>
      <a href="http://www.twitter.com/digalArg" target="blank" title="Twitter">
        <div id="twitter">
            <img src="{{asset ('bundles/digal/images/social/twitter.png')}}" alt="twitter"><br>Twitter<br>
            <span>Seguinos ></span>
        </div>
      </a>
      <a href="http://www.linkedin.com/company/efrain---estampados-y-merchandising" target="blank" title="Linkedin">
        <div id="linkedin">
            <img src="{{asset ('bundles/digal/images/social/linkedin.png')}}" alt="linkedin"><br>Linkedin<br>
            <span>Seguinos ></span>
        </div>
      </a>
    </div>
    <!-- footer -->
    <footer>
      <div id="copyR">
        <a href="{{ path('web_home') }}" title="digal">
          <img src="{{asset ('bundles/digal/images/logo.png')}}" alt="logo digal">
        </a>
        <br> © 2014 Digal. All Rights Reserved
      </div>
      <div id="infContact">
        <h3>Argentina</h3>
        <ul>
          <li>
            <img src="{{asset ('bundles/digal/images/contact/loc.gif')}}" alt="direccion"/> Tunuyán 2287, Córdoba, X5017EGE.
          </li>
          <li>
            <img src="{{asset ('bundles/digal/images/contact/tel.gif')}}" alt="telefono"/> +54 351 156 067958
          </li>
          <li>
            <img src="{{asset ('bundles/digal/images/contact/mail.png')}}" alt="mail"/> info@digal.com.ar
          </li>
        </ul>
      </div>
    </footer>
    <!-- scripts -->
    {%block scripts%}
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{asset ('bundles/digal/js/scripts.js')}}"></script>
    {%endblock%}
  </body>
</html>