{%extends "WebBundle:Templates:template.html.twig"%}

{%block stylesheets%}
{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/our_services.css')}}">
{%endblock%}

{%block content%} 
<!-- contentItem -->
<div id="contentItem">
  <div id="blockLeft">
    {%block blockleft%}{%endblock%}
  </div>
  <div id="blockRight">
    <div id="subBlock1">
      {%block subblock1%}{%endblock%}
    </div>
    <div id="subBlock2">
      {%block subblock2%}{%endblock%}
    </div>
    <div id="subBlock3">
      <h2>Más productos</h2>
      <ul>
        <li><a href="{{ path('web_our_services_tshirt') }}" title="Remeras estampadas">REMERAS ESTAMPADAS</a></li>
        <li><a href="{{ path('web_our_services_keychain_ribbon') }}" title="Llaveros colgantes">LLAVEROS COLGANTES</a></li>
        <li><a href="{{ path('web_our_services_keychain_poli') }}" title="Llaveros polimero">LLAVEROS POLIMERO</a></li>
        <li><a href="{{ path('web_our_services_cushion') }}" title="Almohadones estampados">ALMOHADONES ESTAMPADOS</a></li>
        <li><a href="{{ path('web_our_services_cover') }}" title="Fundas">FUNDAS</a></li>
        <li><a href="{{ path('web_our_services_bag') }}" title="Bolsas Ecológicas">BOLSAS ECOLÓGICAS</a></li>
        <li><a href="{{ path('web_our_services_sweatshirt') }}" title="Buzos estampados">BUZOS ESTAMPADOS</a></li>
        <li><a href="{{ path('web_our_services_dome') }}" title="Domes">DOMES</a></li>
        <li><a href="{{ path('web_our_services_sticker') }}" title="Stickers">STICKERS</a></li>
        <li><a href="{{ path('web_our_services_pad') }}" title="Mouse Pads">MOUSE PADS</a></li>				
      </ul>
     </div>
     <div id="subBlock4">
      <h2>Seguinos en Twitter!</h2>
      <a class="twitter-timeline" href="https://twitter.com/digalArg" data-widget-id="444524597333860352">Tweets por @digalArg</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>
  </div>
</div>
{%endblock%}

{%block scripts%}
{{parent()}}
{%endblock%}