{%extends "WebBundle:Templates:template.html.twig"%}

{%block title%}{{parent()}} | Portfolio{%endblock%}

{%block description%}Somos una empresa que brinda servicios y soluciones de todo tipo para que tu negocio sea conocido y salga de lo común.100% Argentina, Totalmente independiente!{%endblock%}

{%block keywords%}portfolio digal, nuestros trabajos digal, trabajos digal, trabajos realizados digal, merchandising en cordoba, diseño web cordoba, estudio publicitario cordoba, articulos publicitarios{%endblock%}

{%block ogTitle%}{{parent()}} | Portfolio{%endblock%}
{%block ogDescription%}Somos una empresa que brinda servicios y soluciones de todo tipo para que tu negocio sea conocido y salga de lo común.100% Argentina, Totalmente independiente!{%endblock%}
{%block ogImage%}{%endblock%}

{%block stylesheets%}
{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/portfolio.css')}}">
{%endblock%}

{%block content%} 
<!-- content -->
<div id="contentPortfolio">
   <h1>PORTFOLIO</h1>
   <p>Aquí podrás observar algunos de nuestros trabajos realizados. Esperamos pronto tenerte como cliente!</p>
   <div id="works">
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-1.jpg')}}" alt="imagen corporativa plan b"/>
         <div class="refWork">
            PLAN B<br>
            <small>Imagen Corporativa</small>
         </div>
      </div> 
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-2.jpg')}}" alt="imagen corporativa moreno & ssociados"/>
         <div class="refWork">
            MORENO & ASOC.<br>
            <small>Imagen Corporativa</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-3.jpg')}}" alt="imagen corporativa dropmovi"/>
         <div class="refWork">
            DROPMOVI<br>
            <small>Imagen Corporativa</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-4.jpg')}}" alt="aplicacion movil mixo"/>
         <div class="refWork">
            MIXO<br>
            <small>App Mobile</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-5.jpg')}}" alt="aplicacion movil mixo"/>
         <div class="refWork">
            MIXO<br>
            <small>App Mobile</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-6.jpg')}}" alt="imagen corporativa agilecode"/>
         <div class="refWork">
            AGILECODE<br>
            <small>Web Site</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-7.jpg')}}" alt="llaveros colgantes allus"/>
         <div class="refWork">
            ALLUS BPO CENTER<br>
            <small>Llaveros Colgantes</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-8.jpg')}}" alt="llaveros colgantes batistella"/>
         <div class="refWork">
            BATISTELLA<br>
            <small>Llaveros Colgantes</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-9.jpg')}}" alt="remeras estampadas cima supralife"/>
         <div class="refWork">
            CIMA SUPRALIFE<br>
            <small>Remeras Estampadas</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-10.jpg')}}" alt="llaveros colgantes ibm"/>
         <div class="refWork">
            IBM<br>
            <small>Llaveros Colgantes</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-11.jpg')}}" alt="llaveros colgantes holiday inn"/>
         <div class="refWork">
            HOLIDAY INN<br>
            <small>Llaveros Colgantes</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-12.jpg')}}" alt="llaveros colgantes comsys"/>
         <div class="refWork">
            COMSYS<br>
            <small>Llaveros Colgantes</small>
         </div>
      </div>
      <div class="wrapperWork">
         <img src="{{asset ('bundles/digal/images/portfolio/wk-13.jpg')}}" alt="almohadones estampados depeche"/>
         <div class="refWork">
            DEPECHE<br>
            <small>Almohadones Estampados</small>
         </div>
      </div>
   </div>
</div>
{%endblock%}

{%block scripts%}
{{parent()}}
{%endblock%}