{%extends "WebBundle:Templates:template.html.twig"%}

{%block title%}{{parent()}} | Artículos Publicitarios | Diseño web{%endblock%}

{%block description%}Comenzamos a fines del 2012 ofreciendo servicios publicitarios a empresas Cordobesas; diseño web, artículos publicitarios, llaveros cinta, remeras, buzos.{%endblock%}

{%block keywords%}llaveros estampados, remeras estampadas cordoba, llaveros cinta, buzos estampados, diseño web cordoba, plotteados cordoba, bolsas ecologicas cordoba, mouse pad personalizados, regalos empresariales, regalos publicitarios, domes cordoba, publicidad en cordoba, articulos publicitarios en cordoba{%endblock%}


{%block ogTitle%}{{parent()}}Home{%endblock%}
{%block ogDescription%}Comenzamos a fines del 2012 ofreciendo servicios publicitarios a empresas Cordobesas; diseño web, artículos publicitarios, llaveros cinta, remeras, buzos.{%endblock%}
{%block ogImage%}{{asset ('bundles/digal/images/OG_logo.png')}}{%endblock%}

{%block stylesheets%}
{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/home.css')}}">
{%endblock%}

{%block content%} 
<!-- sliders -->
<div id="slider">
   <img id="slider1" src="{{asset ('bundles/digal/images/sliders/1.png')}}" border="0" alt="digal productos publicitarios">
   <img id="slider2" src="{{asset ('bundles/digal/images/sliders/2.png')}}" border="0" alt="digal diseño web">
   <img id="slider3" src="{{asset ('bundles/digal/images/sliders/3.png')}}" border="0" alt="digal diseño grafico">
</div>
<!-- contactForm -->
<div id="contactForm">
   <form id="formContact" method="post" action="{{path ('web_sendConsult')}}">
      <div id="blockLeft">
         <h1>HOLA!</h1>
         <p>
            Necesitas ayuda para publicitar tu marca? <br>
            podes contar con nosotros! <br>
            contáctate!
         </p>
      </div>
      <div id="blockCenter">
            {{ form_errors(form.name)}}
            {{ form_widget(form.name , {'attr': {'placeholder': 'Nombre', 'class':'inputName'}})}}<br>
            {{ form_errors(form.email)}}
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class':'inputEmail'}})}}<br>
            {{ form_widget(form._token) }}
            <input type="submit" id="buttonSend" value="Enviar">
      </div>
      <div id="blockRight">
         {{ form_errors(form.description) }}
         {{ form_widget(form.description, {'attr': {'placeholder': 'Consulta', 'class':'textConsult'}})}}
      </div>
   </form>
</div>
<div id="boxInf"></div>
{%endblock%}

{%block scripts%}
{{parent()}}
<script src="{{asset ('bundles/digal/js/sliders.js')}}"></script>
<script src="{{asset ('bundles/digal/js/scripts.js')}}"></script>
{%endblock%}