{%extends "WebBundle:Templates:template.html.twig"%}

{%block title%}{{parent()}}Home{%endblock%}

{%block description%}{%endblock%}

{%block keywords%}remeras estampadas,banners,ploteados,llaveros publicitarios,llaveros cinta,buzos estampados,camperas estampadas,calcos publicitarias,domes,diseño web cordoba,marketing,publicidad cordoba{%endblock%}

{%block stylesheets%}
{{parent()}}
<link rel="stylesheet" href="{{asset ('bundles/digal/css/home.css')}}">
{%endblock%}

{%block content%} 
<!-- sliders -->
<div id="slider">
    <img id="slider1" src="{{asset ('bundles/digal/images/sliders/1.png')}}" border="0" alt="digal productos publicitarios">
    <img id="slider2" src="{{asset ('bundles/digal/images/sliders/2.png')}}" border="0" alt="digal diseño web">
    <img id="slider3" src="{{asset ('bundles/digal/images/sliders/3.png')}}" border="0" alt="digal diseño grafico">
</div>
{%endblock%}

{%block scripts%}
{{parent()}}
<script src="{{asset ('bundles/digal/js/sliders.js')}}"></script>
{%endblock%}